.underline {
    text-decoration: underline;
}

h1 {
    max-width: 600px;
    text-align: center;
    margin: 60px auto;
}

.header-text-exhbition {
    text-align: center;
    
}

.blue-background {
    background-color: #EBE7F4;
}


.exhibition-text-paragraph {
    text-align: left;
    max-width: 800px;
    margin: 20px auto;
}

.round-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px auto;
    object-fit: cover;
}

.green-background {
    background-color: #DAECEC;
}

.purple-background {
    background-color: #EBE7F4;
}

.blue-background {
    background-color: #DEE8F9;
}

.align-center {
    text-align: center;
}

.padding20 {
    padding: 20px;
}

.margin-exhibition {
    margin: 30px 0;
}

