.underline {
    text-decoration: underline;
}

.h1 {
    font-size: 20px;
    font-weight: 400;
    max-width: 600px;
}

.header-text {
    text-align: center;
    
}

.exhibition-section-one {
    background-color: #EBE7F4;
}

.red-header {
    color: #732C1C;
}

.exhibition-text-paragraph {
    text-align: left;
    max-width: 800px;
    margin: 20px auto;
}

.round-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px auto;
    object-fit: cover;
}

.exhibition-section-two {
    background-color: #DAECEC;
}

.blue-header {
    color: #1B3465;
}

.exhibition-section-three {
    background-color: #DEE8F9;
}

.green-header {
    color: #254E57;
}

.align-center {
    text-align: center;
}

.padding20 {
    padding: 20px;
}

.margin-exhibition {
    margin: 30px 0;
}
